@use '../abstracts/variables' as v;

.navbar {
    z-index: 100;
    grid-area: navbar;
    &__nav {
        display: flex;
        padding: 5rem 0;
        max-width: 120rem;
        margin: auto;
        &__logo {
            font-family: "Playwrite AU SA", cursive;
            font-weight: 400;
            font-size: 2.5rem;
        }
        &__links {
            flex: 1 1;
            justify-content: center;
            list-style: none;
            align-items: center;
            &__item {
                margin: 0 5px;
                &__link {
                    padding: 1rem;
                    background: v.$color--quintenary--dark;
                    border-radius: 50px;
                    color: v.$color--secundary;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }
        }

        &__user-settings {
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 2.5rem;
            color: v.$color--secundary;
            background-color: v.$color--quintenary--dark;
            width: 4rem;
            height: 4rem;
            border-radius: 100%;
        }
        &__menu {
            display: none;
            height: 35px;
            z-index: 100;

            &__icon {
                font-size: 35px;
            }
            &:hover {
                cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 720px) {
    .navbar {
        &__nav {
            flex-direction: column;
            position: relative;
            padding: 0.5rem;
            &__links {
                display: none;
                flex-direction: column;
                &__item {
                    margin: 12px 0;
                    
                }
            }
            &__user-settings {
                display: none;
            }
            &__menu {
                display: block;
                position: absolute;
                top: 1rem;
                right: 1rem;
            }
        }
    }
}
