$color--primary: #e9ecf7;
$color--secundary: #fff;
$color--tertiary: #f8de8a;
$color--quintenary: #86f3e1;

$border-radius--primary: 2rem;
$border-radius--right: 0 2rem 2rem 0;

$border--shadow--primary: 0 -1px 10px  rgba(#000, .8);